<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebRTC client</title>
</head>
<body>
    <video id="localStream" hidden playsinline controls>
        <!-- NB CORS: https://bugzilla.mozilla.org/show_bug.cgi?id=1177793 -->
        <source src="{{ url_for('static', filename="chrome.mp4") }}" type="video/mp4"/>
        <p>This browser does not support the video element.</p>
    </video>
    <video id="remoteStream" autoplay playsinline></video>
    <script src="{{ url_for('static', filename="socket.io.js") }}"></script>
    <script src="{{ url_for('static', filename="main.js") }}"></script>
</body>
</html>
